form(action='/search', method='post')
  input(type="text" id="search" name='searchTerms' placeholder='Search all books by title, author, or genre')
  input(type='submit', style='visibility: hidden;')
