doctype html
html(lang="en")
  head
    title To Do List
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.2.1.js')
  body
    include includes/header.pug
    block main
    script(type='text/javascript', src='/static/js/main.js')
